.tab-content-wardmap {
  display: flex;
  justify-content: space-around;
}
.wardmap {
  width: 29.7vw;
  height: 58vh;
  border: 2px solid whitesmoke;
  border-radius: 2px;
  position: relative;
  max-height: 29.7vw;
  > img {
    height: inherit;
    width: inherit;
    max-height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 4px;
    padding-bottom: 4px;
  }
  &:before{
    position: absolute;
    left: calc(-50% - 20px);
    top: calc(50% - 16px);
    width: 100%;
    /* height: 100%; */
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.22);
    transform: rotate(-90deg);
  }
  &:after{
    content:'';
    width: 56px;
    height: 128px;
    position: absolute;
    right: -18px;
    transform: rotate(25deg);
    top: -36px;
    background-size: cover;
    background-position: center;
    z-index: 2;
  }
  &.observer:after{
    background-image: url(../../../assets/observer-ward.png);
  }
  &.sentry:after{
    background-image: url(../../../assets/sentry-ward.png);
  }
  &.observer:before{
    content: 'observer wardmap';
  }
  &.sentry:before{
    content: 'sentry wardmap';
  }
}
