
$tabs-count: 10;
$image-size: 56px;
$link-width: $image-size + 10px;

.tab-list {
  width: 66px;
  margin: 0 auto;
  padding: 0;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
  left: 54px;
  background: rgba(81, 105, 120, 0.14);

  a {
    display: inline-block;
    /* border-radius: 8px; */
    cursor: pointer;
    outline: none;
    filter: invert(85%);
    transform: scale(0.8);
    width: 66px;
    text-align: center;
    opacity: .4;
    &:not(:nth-child(10)){
      margin-right: 5px;
    }
    img {
      width: $image-size;
      height: $image-size;
      vertical-align: middle;
      padding: 10px;
      pointer-events: none;
    }
    &.active{
      transform: scale(1);
      pointer-events: none;
      opacity: 1;
    }
  }

}
.active-watcher {
  position: absolute;
  width: 2px;
  height: 56px;
  /* transform: rotate(90deg); */
  right: 0;
  bottom: 0;
  background: #d9d9d9;
  z-index: 1;
  border-radius: 2px;
  transition: all 279ms cubic-bezier(0, 0, 0.2, 1);
}
@for $i from 1 through $tabs-count {
  a:nth-child(#{$i}).active ~.active-watcher{
    top: ($i - 1) * ($image-size);
  }
}


.tab-content{
  z-index: 2;
  left: 128px;
  width: calc(100% - 256px);
  position: relative;
  margin-top: 15px;
  text-align: center;
}
