
.tag-cloud {
  position: fixed;
  z-index: -1;
  filter: blur(1px);
  opacity: 0.5;
  left: 10%;
  width: 80%;
  top: 18%;
  text-align: center;
  &:hover{
    filter: blur(0px);
    opacity: 1;
    ~div {
      filter: blur(5px);
      opacity: .4;
    }
  }
}

.tag-cloud-tag {
  line-height: 0;
  user-select: none;
  cursor: default;
}
