.page.search{
  padding: 0;
  width: 100%;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(0);
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  margin-bottom: 3.5%;


  .search-results {
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    .not-found{
      text-align: center;
      span{
        background:rgb(75, 89, 132);
        color:whitesmoke;
        padding: 0 10px;
      }
    }
  }



  .search-user-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 45%;
    background: rgb(245, 245, 245);
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.32);
    padding: 13px;
    border-radius: 2px;
    max-width: 720px;
    margin: 0 auto 5%;
    height: 67px;
    > i {
      position: absolute;
      top: 25%;
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      left: 0;
      border-radius: 2px;
      pointer-events: none;
      transition: opacity 289ms ease-in;
      top: 0;
    }

  }


  &.is-loading{
    .search-user-form{
      &:after{
        background: rgb(245, 245, 245) url(../../assets/loading.svg) no-repeat center;
        background-size: 8%;
        opacity: 1;
      }
    }
  }

  .search-input {
    border: none;
    background: transparent;
    margin: 0 14px 0 47px;
    flex: 1;
    border-bottom: 1px solid transparent;
    font-size: 24px;
    font-weight: 100;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(92, 107, 136);
    &:focus{
      border-bottom: 1px solid rgb(92, 107, 136);
    }
  }
  .search-users-button {
    padding: 5px 10px;
    font-size: 24px;
    background: transparent;
    color: rgb(92, 107, 136);
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    &:active{
      background: rgb(92, 107, 136);
      color: rgb(245, 245, 245);
      border-color: rgb(92, 107, 136);
    }
  }
}

