$search-container-color: rgb(92, 107, 136);
$main-color: rgb(0, 0, 0);
$second-color: whitesmoke;

.page.search{
  padding: 0;
  width: 100%;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  /* padding-top: 10%; */
  transform: translateY(0);
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 6%;
  background: rgba($main-color, 0.5);
  min-height: 50%;
  &:before{
    content: '';
    width: 100%;
    height: 256px;
    position: absolute;
    top: -256px;
    left: 0;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 51%, 65% 86%, 38% 59%, 22% 86%, 0% 27%);
    clip-path: polygon(0% 100%, 100% 100%, 100% 51%, 65% 86%, 38% 59%, 22% 86%, 0% 27%);
    background: rgba($main-color, 0.5);
    transition: all 0.375s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  }
  .root-scrolled &{
    &:before{
      height: 40vh;
      top: -40vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }


  .search-results {
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    .not-found{
      text-align: center;
      span{
        background: darken(rgba($main-color, 0.8),5%);
        color:whitesmoke;
        padding: 0 10px;
      }
    }
  }



  .search-player-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 45%;
    background: $second-color;
    box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.32);
    padding: 13px;
    border-radius: 2px;
    max-width: 720px;
    margin: 0 auto 5%;
    height: 67px;
    > i {
      position: absolute;
      top: 25%;
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      left: 0;
      border-radius: 2px;
      pointer-events: none;
      transition: opacity 289ms ease-in;
      top: 0;
    }

  }


  &.is-loading{
    .search-player-form{
      &:after{
        background: $second-color url(../../assets/loading.svg) no-repeat center;
        background-size: 8%;
        opacity: 1;
      }
    }
  }

  .search-input {
    border: none;
    background: transparent;
    margin: 0 14px 0 47px;
    flex: 1;
    border-bottom: 1px solid rgba($search-container-color, 0.34);
    font-size: 24px;
    font-weight: 100;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $search-container-color;
    &:focus{
      border-bottom: 1px solid $search-container-color;
    }
  }
  .search-players-button {
    padding: 5px 10px;
    font-size: 24px;
    background: transparent;
    color: $search-container-color;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    &:active{
      background: $search-container-color;
      color: $second-color;
      border-color: $search-container-color;
    }
  }
}

