$main-color: rgb(92, 107, 136);
$second-color: rgb(245, 245, 245);

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  &.nav-showed {
    height: 100%;
    width: 100%;
    z-index: 200;
    border-radius: 0;
    overflow: hidden;
  }
  .root-scrolled & {
    &:not(.nav-showed) {
      height: 132px;
      background-color: rgb(245, 245, 245);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.32);
    }
  }
  &.root-page {
    ~ .page-content-divider {
      bottom: -20%;
      position: fixed;
    }
  }
}


.title {
  margin: 7% 0 0 0;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  transform: translateX(150px);
  transition: transform 350ms ease-in-out;
  font-size: 4.2vw;
  color: rgb(92, 107, 136);
  background: rgb(245, 245, 245);
  padding: 0 14px;
  .nav-showed & {
    pointer-events: all;
    transform: translateX(60px);
    color: $second-color;
    background: transparent;
    padding: 0;
  }

  .header:not(.nav-showed) & {
    .root-scrolled & {
      margin-top: 28px;
      background: rgba(0, 0, 0, 0);
      transform: translateX(94px);
    }
  }
}

.menu-button {
  width: 64px;
  height: 64px;
  background: rgb(92, 107, 136);
  border-radius: 50%;
  transition: all 125ms cubic-bezier(0.22, 0.61, 0.36, 1);
  position: absolute;
  right: 128px;
  top: 64px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  .nav-showed & {
    background: $second-color;
  }
  .root-scrolled & {
    top: 32px;
  }
  &:hover {
    transform: scale(1.1);
  }

}

.menu-button-bar {
  background-color: $second-color;
  height: 2px;
  width: 24px;
  margin-bottom: 7px;
  margin-left: 20px;
  display: block;
  border-radius: 2px;
  transition: all .225s cubic-bezier(.25, .8, .25, 1) 0s;
  &:first-child {
    margin-top: 23px;
  }

  .header:not(.nav-showed) & {
    &:nth-child(2) {
      width: 20px;
      margin-left: 24px;
    }
  }

  .nav-showed & {
    background-color: $main-color;
    &:first-child {
      transform: translate(-5px, 9px) rotate(45deg);
      width: 34px;
    }
    &:nth-child(2) {
      transform: translate(-5px) rotate(-45deg);
      width: 34px;
    }
    &:last-child {
      opacity: 0;
      width: 34px;
    }
  }
}

.menu-button-after {
  border-radius: 32px;
  transform: scale(0);
  width: 64px;
  height: 64px;
  background-color: rgb(92, 107, 136);
  position: absolute;
  right: 128px;
  top: 64px;
  z-index: 0;
  -webkit-transition: all 0.375s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: all 0.375s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  .nav-showed & {
    -webkit-transform: scale(90);
    transform: scale(90);
    -webkit-transition: all .7s cubic-bezier(.25, .8, .25, 1) 0s !important;
    transition: all .7s cubic-bezier(.25, .8, .25, 1) 0s !important;
  }

  .root-scrolled & {
    top: 32px;
  }
}

.routes {
  font-weight: bold;
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 10%;
  z-index: 1;
  pointer-events: none;
  transform: translateX(40px);
  transition: transform 350ms ease-in-out;

  .nav-showed & {
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
    top: 20%;
  }
  .header:not(.nav-showed) & {
    left: 15%;
    right: auto;
    margin-top: 12%;
  }

  .header:not(.nav-showed) & {
    .root-scrolled & {
      left: auto;
      margin-top: 28px;
      margin-left: 281px;
    }
  }
}

.router-link {
  text-decoration: none;
  font-size: 11vw;
  color: rgb(245, 245, 245);
  padding: 0 0.1em;
  text-align: right;
  &--active {
    color: $main-color;
    background: $second-color;
  }

  .header:not(.nav-showed) & {
    &:not(.router-link--active) {
      display: none;
    }
    &--active {
      color: $second-color;
      background: transparent;
    }
  }

  .header:not(.nav-showed) & {
    .root-scrolled & {
      &--active {
        font-size: 4.2vw;
        color: rgb(119, 135, 165);
      }
    }
  }

}


