$main-color:rgb(218, 63, 6);
$second-color: rgb(245, 245, 245);
$menu-button-color: rgb(31, 72, 90);

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  &.nav-showed {
    height: 100%;
    width: 100%;
    z-index: 200;
    border-radius: 0;
    overflow: hidden;
  }
  .root-scrolled & {
    &:not(.nav-showed) {
      height: 142px;
      background-color: $second-color;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.32);
    }
  }
  &.root-page {
    ~ .page-content-divider {
      bottom: -20%;
      position: fixed;
    }
  }
}


.title {
  margin: 7% 0 0 0;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  transform: translateX(150px);
  transition: transform 350ms ease-in-out, opacity .2s cubic-bezier(0, 0, 0.2, 1);
  font-size: 4.2vw;
  color: $main-color;
  background: rgba($second-color,0.86);
  padding: 0 14px;
  .nav-showed & {
    pointer-events: all;
    transform: translateX(60px);
    color: $second-color;
    background: transparent;
    padding: 0;
  }
  .react-router-modal__modal-open &{
    opacity: 0;
  }
  .header:not(.nav-showed) & {
    .root-scrolled & {
      margin-top: 32px;
      background: rgba(0, 0, 0, 0);
      transform: translateX(94px);
      font-size: 64px;
    }
  }
}


.routes {
  font-weight: bold;
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 10%;
  z-index: 1;
  pointer-events: none;
  transform: translateX(40px);
  transition: transform 350ms ease-in-out;

  .nav-showed & {
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
    top: 20%;
  }
  .header:not(.nav-showed) & {
    left: 15%;
    right: auto;
    margin-top: 12%;
  }

  .header:not(.nav-showed) & {
    .root-scrolled & {
      left: auto;
      margin-left: calc(4% + 450px);
      margin-top: 36px;
    }
  }
}

.router-link {
  text-decoration: none;
  font-size: 11vh;
  color: $second-color;
  padding: 0 0.1em;
  text-align: right;
  &--active {
    color: $menu-button-color;
    background: $second-color;
  }

  .header:not(.nav-showed) & {
    &:not(.router-link--active) {
      display: none;
    }
    &--active {
      color: $second-color;
      background: transparent;
    }
    #root:not(.root-scrolled) &{
      &--active{
        text-shadow: 0 1px 20px rgba(0, 0, 0, 0.61);
      }
    }
  }


  .header:not(.nav-showed) & {
    .root-scrolled & {
      &--active {
        font-size: 60px;
        color: lighten($main-color, 16%);

      }
    }
  }

}


