$main-color: rgb(30, 23, 24);
$second-color: whitesmoke;

.search-player {
  font-size: 22px;
  line-height: 1.4;
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.32);
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.375s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  a {
    border-radius: inherit;
  }
  &:hover {
    transform: scale(1.4);
    z-index: 2;
    border-radius: 5%;
    transition: all 0.7s cubic-bezier(0.2, 0.8, 0.25, 1) 0s !important;
  }
  .avatar {
    height: 100%;
    border-radius: inherit;
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: $main-color;
  }
  .name {
    padding: 0 2px;
    position: absolute;
    background: rgba($main-color, 0.6);
    color: rgba($second-color,0.8);
    font-weight: normal;
    text-align: left;
    line-height: 1.1;
    font-size:24px;
    word-break: break-all;
    transition: all 0.375s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    pointer-events: none;
  }
  &:hover .name {
    background-color: $second-color;
    color: $main-color;
    word-break: normal;
    // transform: translate(-9%, -72%) rotate3d(-1, 1.3, 3.5, -7deg);
    transform: translate(-10%, -81%) rotate3d(-1, 1.3, 3.5, -5deg)
  }
  .last-match-time {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    background: rgba($main-color, 0.6);
    padding: 0 5px;
    color: rgba($second-color,0.7);
    border-bottom-right-radius: inherit;
}
}
