$main-color:rgb(154, 90, 90);
$second-color: rgb(245, 245, 245);
$menu-button-color: rgb(31, 72, 90);



.menu-button {
  width: 64px;
  height: 64px;
  background: $menu-button-color;
  border-radius: 50%;
  transition: all 125ms cubic-bezier(0.22, 0.61, 0.36, 1);
  position: absolute;
  right: 128px;
  top: 64px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.17);
  .nav-showed & {
    background: $second-color;
  }
  .root-scrolled & {
    top: 40px;
  }
  &:hover {
    transform: scale(1.1);
  }

  .map-showed &{
    top:32px;
  }
}


.menu-button-bar {
  background-color: $second-color;
  height: 2px;
  width: 24px;
  margin-bottom: 7px;
  margin-left: 20px;
  display: block;
  border-radius: 2px;
  transition: all .225s cubic-bezier(.25, .8, .25, 1) 0s;
  &:first-child {
    margin-top: 23px;
  }

  .header:not(.nav-showed) & {
    &:nth-child(2) {
      width: 20px;
      margin-left: 24px;
    }
  }

  .nav-showed & {
    background-color: $menu-button-color;
    &:first-child {
      transform: translate(-5px, 9px) rotate(45deg);
      width: 34px;
    }
    &:nth-child(2) {
      transform: translate(-5px) rotate(-45deg);
      width: 34px;
    }
    &:last-child {
      opacity: 0;
      width: 34px;
    }
  }

}

.menu-button-after {
  border-radius: 32px;
  transform: scale(0);
  width: 64px;
  height: 64px;
  background-color: $menu-button-color;
  position: absolute;
  right: 128px;
  top: 64px;
  z-index: 0;
  -webkit-transition: all 0.375s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: all 0.375s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  .nav-showed & {
    -webkit-transform: scale(90);
    transform: scale(90);
    -webkit-transition: all .7s cubic-bezier(.25, .8, .25, 1) 0s !important;
    transition: all .7s cubic-bezier(.25, .8, .25, 1) 0s !important;
    background-color: rgba($menu-button-color,0.85);;
  }

  .root-scrolled & {
    top: 40px;
  }
  .map-showed &{
    top:32px;
  }
}
